/* h1,h2,h3{
color: blue;
background-color: violet;
}
p{
    color: red;
}
#second-para{
    color: orange;
}
.common{
    color: indigo;
} */

#section-1 h1{
    color: brown;
    background-color: black;
}